{% extends "layouts/base.html.j2" %}
{% block title %}Blog{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block main %}
    <div>
        {{ data }}
    </div>
    <div class="post">
        {{ md_template_string }}
    </div>
{% endblock %}