{% extends "layouts/base.html.j2" %}
{% block title %} {{ post_metadata.title[0] }} {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block main %}
    {# <div>
        {{ post_metadata }}
    </div> #}
    <div class="post">
        {{ post_data }}
    </div>
{% endblock %}