### Local env ###
.history
*.env*
*.pem
*.key*

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log


# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# profiling data
.prof

### Node JS ###
node_modules

### Assets ###
images


### Terraform ###
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

### Jenkins ###
**/jenkins_home/.cache
**/jenkins_home/jenkins.*
**/jenkins_home/logs
**/jenkins_home/war
**/jenkins_home/*.xml*
**/jenkins_home/*.log
**/jenkins_home/.lastStarted
**/jenkins_home/.java
**/jenkins_home/.groovy
**/jenkins_home/plugins
**/jenkins_home/users
**/jenkins_home/userContent
**/jenkins_home/workflow*
**/jenkins_home/updates
**/jenkins_home/secrets
**/jenkins_home/jobs
**/jenkins_home/nodes
**/jenkins_home/.ssh
**/jenkins_home/.bash_history
**/jenkins_home/workspace
**/jenkins_home/.owner

# Ansible
**/ansible/private
**/ansible/.ansible
**/jenkins_home/ansible/private
**/jenkins_home/.ansible
