version: "3.9"

services:
  jenkins:
    container_name: jenkins
    build: .
    ports:
      - "8080:8080"
    volumes:
      - $PWD/jenkins_home:/var/jenkins_home
    networks:
      - net

networks:
  net:
