{% macro get_categories(categories) -%}
    {% for row in categories %}
    <div>
      <a class="btn btn-primary" role="button" href="/blog/{{ row[1] }}/">
        {{ row[1] }}
      </a>
    </div>
    {% endfor %}
{%- endmacro %}
