{% macro get_categories(categories) -%}
  <div class="categories">
    <h4 class="categories_title">
        Posts por temas:
    </h4>
    <div class="categories_container">
      {% for row in categories %}
      <div>
        <a class="btn btn-primary" role="button" href="/blog/{{ row[1] }}/">
          {{ row[1] }}
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
{%- endmacro %}
