{% macro social_media() -%}
  <div class="container_social">
    <a href="https://twitter.com/helmcode" target="_blank" rel="noopener noreferrer">
      <figure class="container_social_img">
        <img src="https://s3-eu-west-1.amazonaws.com/static.helmcode.com/images/about/twitter.svg" alt="Twitter image" class="social_img">
      </figure>
    </a>
    <a href="https://github.com/helmcode" target="_blank" rel="noopener noreferrer">
      <figure class="container_social_img">
        <img src="https://s3-eu-west-1.amazonaws.com/static.helmcode.com/images/about/github.svg" alt="GitHub image" class="social_img">
      </figure>
    </a>
    <a href="https://www.linkedin.com/in/helmcode" target="_blank" rel="noopener noreferrer">
      <figure class="container_social_img">
        <img src="https://s3-eu-west-1.amazonaws.com/static.helmcode.com/images/about/linkedin.svg" alt="LinkedIn image" class="social_img">
      </figure>
    </a>
  </div>
{%- endmacro %}
