<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/layouts/base.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{% block title %}{% endblock %} | Helmcode</title>
    {% endblock %}
</head>
<body>
    <header id="header">
        {% block header %}
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid" >
                <a class="navbar-brand" href="/">Helmcode</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                        <a class="nav-link" href="/blog">Blog</a>
                        <a class="nav-link" href="/about">About</a>
                    </div>
                </div>
            </div>
        </nav>
        {% endblock %}
    </header>
    <div id="main" class="main">
        {% block main %}{% endblock %}

        <footer id="footer" class="nav justify-content-center">
            {% block footer %}
            By&nbsp;<a href="https://twitter.com/helmcode">Helmcode</a>
            {% endblock %}
        </footer>
    </div>

    {# Scripts #}
    <script src="/static/js/nav_buttons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>