{% extends "layouts/base.html.j2" %}
{% block title %} {{ post_metadata.title[0] }} {% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/layouts/post.css" />
    <meta name="description" content="{{ post_metadata.description[0] }}">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@helmcode">
    <meta name="twitter:title" content="{{ post_metadata.title[0] }}">
    <meta name="twitter:description" content="{{ post_metadata.description[0] }}">
    <meta name="twitter:creator" content="@helmcode">
    <meta name="twitter:image" content="https://s3.eu-west-1.amazonaws.com/static.helmcode.com/images/home/portada.jpg">
    <!-- Open Graph data -->
    <meta property="og:title" content="{{ post_metadata.title[0] }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://helmcode.com/blog/{{ post_metadata.categories[0] }}/{{ post_metadata.file[0] }}" />
    <meta property="og:image" content="https://s3.eu-west-1.amazonaws.com/static.helmcode.com/images/home/portada.jpg" />
    <meta property="og:description" content="{{ post_metadata.description[0] }}" />
    <meta property="og:site_name" content="Helmcode" />
{% endblock %}
{% block main %}
    {# <div>
        {{ post_metadata }}
    </div> #}
    <div class="post">
        {{ post_data }}
    </div>
{% endblock %}
