{% extends "layouts/base.html.j2" %}
{% block title %}Blog{% endblock %}
{% block head %}
    {{ super() }}
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@helmcode">
    <meta name="twitter:title" content="SRE Roadmap">
    <meta name="twitter:description" content="Mi Roadmap para convertirme en SRE y el camino que aún me queda por recorrer">
    <meta name="twitter:creator" content="@helmcode">
    <meta name="twitter:image" content="https://s3.eu-west-1.amazonaws.com/static.helmcode.com/images/home/portada.jpg">
    <!-- Open Graph data -->
    <meta property="og:title" content="Roadmap To SRE" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://helmcode.com/blog" />
    <meta property="og:image" content="https://s3.eu-west-1.amazonaws.com/static.helmcode.com/images/home/portada.jpg" />
    <meta property="og:description" content="Mi Roadmap para convertirme en SRE y el camino que aún me queda por recorrer" />
    <meta property="og:site_name" content="Helmcode" />
    <link rel="stylesheet" href="/static/css/templates/roadtosre.css" />
{% endblock %}
{% block main %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">SRE Roadmap</h5>
            <p class="card-text">Llevo cuatro años trabajando en Tecnología. Empecé como Soporte Técnico, después fuí Operador de Sistemas, SysAdmin y ahora finalmente trabajo como SRE. De momento este ha sido mi camino de aprendizaje...</p>
            <p class="card-text"><small class="text-muted">Last updated: 09/09/2021</small></p>
        </div>
        <img src="https://s3.eu-west-1.amazonaws.com/static.helmcode.com/images/road-to-sre/road_map.png" class="card-img-bottom" alt="Roadmap">
    </div>
{% endblock %}
