{% extends "layouts/base.html.j2" %}
{% block title %}Blog{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block main %}
    <h1>
        Barckcode
    </h1>
    <p>
        {{texto}}
    </p>
    <a href="/blog/linux/basic_netcat">
        Post
    </a>
{% endblock %}