{% extends "layouts/base.html.j2" %}
{% from 'components/get_posts.html.j2' import get_posts %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/templates/home.css" />
    <link rel="stylesheet" href="/static/css/components/get_posts.css" />
{% endblock %}
{% block main %}
<div class="portada">
    <picture class="portada_container_img">
        <source srcset="https://pbs.twimg.com/profile_images/1351987230659780609/ah4YrurI_400x400.jpg">
        <img src="https://pbs.twimg.com/profile_images/1351987230659780609/ah4YrurI_400x400.jpg" class="portada_img_perfil" alt="Foto de perfil">
    </picture>
    <div class="portada_presentation">
        <h5 class="portada_presentation_title">
            {{ title }}
        </h5>
        <p class="portada_presentation_text">
            {{ presentation }}
        </p>
        {# TEST PAYPAL BUTTON #}
        {# <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="hosted_button_id" value="X3NK5PPD4XA72" />
            <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/es_ES/i/scr/pixel.gif" width="1" height="1" />
        </form> #}
        {# ------------------ #}
    </div>
    <hr class="separator">
    <div class="posts">
        <h3 class="posts_title">
            Últimos posts:
        </h3>
        {# {% for row in records_data %}
        <div class="card text-center">
            <div class="card-header">
                {{ row[1] }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ row[4] }}</h5>
                <p class="card-text">{{ row[5] }}</p>
                <a href="/blog/{{ row[1] }}/{{ row[2] }}" class="btn btn-primary">Ir al post</a>
            </div>
            <div class="card-footer text-muted">
                {{ row[3] }}
            </div>
        </div>
        {% endfor %} #}
        {{ get_posts(records_data) }}
    </div>

    {# ########## TEST ############ #}
    {# <div>
        <hr>
        <h3>Salida de BBDD:</h3>
        {% for row in records_data %}
            <li>{{row[0]}}</li>
            <li>{{row[1]}}</li>
            <li>{{row[2]}}</li>
            <li>{{row[3]}}</li>
            <li>{{row[4]}}</li>
            <li>{{row[5]}}</li>
        {% endfor %}
    </div> #}
</div>
{% endblock %}