{% extends "layouts/base.html.j2" %}
{% from 'components/last_posts.html.j2' import last_posts %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/templates/home.css" />
{% endblock %}
{% block main %}
<div class="portada">
    <figure class="portada_container_img">
        <img src="https://pbs.twimg.com/profile_images/1351987230659780609/ah4YrurI_400x400.jpg" class="portada_img_perfil" alt="Foto de perfil">
    </figure>
    <div class="portada_presentation">
        <h5 class="portada_presentation_title">
            {{ title }}
        </h5>
        <p class="portada_presentation_text">
            {{ presentation }}
        </p>
    </div>
    <hr class="separator">
    <div class="posts">
        <h1>TEST</h1>
        <h3 class="posts_title">
            Últimos posts:
        </h3>
        {# {% for row in records_data %}
        <div class="card text-center">
            <div class="card-header">
                {{ row[1] }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ row[4] }}</h5>
                <p class="card-text">{{ row[5] }}</p>
                <a href="/blog/{{ row[1] }}/{{ row[2] }}" class="btn btn-primary">Ir al post</a>
            </div>
            <div class="card-footer text-muted">
                {{ row[3] }}
            </div>
        </div>
        {% endfor %} #}
        {{ last_posts(records_data) }}
    </div>

    {# ########## TEST ############ #}
    {# <div>
        <hr>
        <h3>Salida de BBDD:</h3>
        {% for row in records_data %}
            <li>{{row[0]}}</li>
            <li>{{row[1]}}</li>
            <li>{{row[2]}}</li>
            <li>{{row[3]}}</li>
            <li>{{row[4]}}</li>
            <li>{{row[5]}}</li>
        {% endfor %}
    </div> #}
</div>
{% endblock %}